@{
  Layout = "_Layout";
}

<h1>Address Book</h1>

<div class="container">
  <h2>@Model.GetContactName()</h2>

  <div class="well well-details">
    <p><strong>Phone Number:</strong> @Model.GetPhoneNumber()</p>
    <p><strong>Address:</strong> @Model.GetAddress()</p>
  </div>
  <a href="/"><button class="btn btn-default exit">Exit</button></a>
</div>
