@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Address Book</h1>

  <h2>Your contacts have been deleted</h2>

  <a href="/contact/add"><button class="btn btn-default create-new">Create New Contact</button></a>

  <a href="/"><button class="btn btn-default exit-clear">Exit</button></a>
</div>
