@{
  Layout = "_Layout";
}

<h1>Your contacts have been deleted</h1>

<a href="/contact/add"><button class="btn btn-default">Create New Contact</button></a>

<a href="/"><button class="btn btn-default">Exit</button></a>
