@{
  Layout = "_Layout";
}

<h1>Address Book</h1>

<div class="container">
    <h2>You Created a New Contact</h2>

  <div class="well well-confirm">
    <p><strong>Name:</strong> @Model.GetContactName()</p>
    <p><strong>Phone Number:</strong> @Model.GetPhoneNumber()</p>
    <p><strong>Address:</strong> @Model.GetAddress()</p>
  </div>

  <a href="/contact/add"><button class="btn btn-default create-new-add">Create Another Contact</button></a>

  <a href="/"><button class="btn btn-default exit">Exit</button></a>
</div>
