@{
  Layout = "_Layout";
}

<h1>@Model.GetContactName()</h1>

<p><strong>Phone Number:</strong> @Model.GetPhoneNumber()</p>
<p><strong>Address:</strong> @Model.GetAddress()</p>

<a href="/"><button class="btn btn-default">Exit</button></a>
