@{
  Layout = "_Layout";
}

<h1>Keep Track of Your Contacts</h1>

@foreach(var contact in Model)
{
  <ul>
    <a href="/contact/@contact.GetId()"><li>@contact.GetContactName()</li></a>
    <hr>
  </ul>
}

<a href="/contact/add"><button class="btn btn-default">Create New Contact</button></a>

<a href="/contact/clear"><button class="btn btn-default">Delete All Contacts</button></a>
