@{
  Layout = "_Layout";
}

<h1>Address Book</h1>

<div class="container">
    <h2>Keep Track of Your Contacts</h2>

      @foreach(var contact in Model)
      {
        <div class="well well-contact">
          <ul class="contact-list">
            <a href="/contact/@contact.GetId()" class="contact-list"><li>@contact.GetContactName()</li></a>
          </ul>
        </div>
      }
    <div class="well index-well">
      <a href="/contact/add"><button class="btn btn-default create-new">Create New Contact</button></a>

      <a href="/contact/clear"><button class="btn btn-default delete-all">Delete All Contacts</button></a>
  </div>
</div>
