@{
  Layout = "_Layout";
}

<h1>Your Recently Added Contact</h1>

<p><strong>Name:</strong> @Model.GetContactName()</p>
<p><strong>Phone Number:</strong> @Model.GetPhoneNumber()</p>
<p><strong>Address:</strong> @Model.GetAddress()</p>
